---
interface Props{
    text: string | null
}

const { text } = Astro.props;
---
<div aria-label={text} class='flex w-full justify-between max-w-md items-center gap-x-2 rounded-md bg-[#1e1e1e] py-3 pl-4 pr-4 text-center text-white backdrop-blur'>
    <slot />
</div>